<nav class="navbar navbar-expand-lg bg-dark">
  <div>
    <form id="form-handler" class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        id="search-text"
      />
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
      >Search</button>
    </form>
  </div>

</nav>

{{#each result}}
  <div class="card bg-light mb-3 col-8">
    <img class="img-size" src="{{this.Poster}}" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{this.Title}}</h5>
      <p class="card-text">
        Year:
        {{this.Year}}
        <br />
        Rated:
        {{this.Rated}}
        <br />
        Genre:
        {{this.Genre}}
        <br />
        IMDB Rating:
        {{this.imdbRating}}</p>
      <p class="card-text">{{this.Plot}}</p>
    </div>
  </div>
{{/each}}

<script src="/js/home.js"></script>